# ===== LLM Provider =====
GROQ_API_KEY=your_groq_key_here

# ===== Embeddings =====
GEMINI_API_KEY=your_gemini_key_here

# ===== Vector Database =====
PINECONE_API_KEY=your_pinecone_key_here

# ===== App Settings =====
APP_ENV=development
LOG_LEVEL=INFO

# ===== RAG Settings =====
RAW_DATA_PATH=./data/raw
CHUNK_SIZE=1000
CHUNK_OVERLAP=200

# ===== Hugging Face=====
HF_TOKEN=your_token_here

# ===== Monitoring =====
LANGSMITH_API_KEY=your_langsmith_key_here
LANGSMITH_PROJECT=ai-chatbot
