#Evironment
.env
*.nv

#Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.python-version

#Data 
data/processed/
data/vectorestore/

#Logs
logs/

#OS
.DS_Store
Thumbs.db

#Libraries
lib/
lib64/
site-packages/


