httpx
langchain
langchain-core
langchain-groq
langchain-google-genai
langchain-community
langchain-pinecone
langchain-text-splitters
groq
pinecone-client
fastapi
uvicorn
pydantic
pydantic-settings
pytest
pytest-asyncio
python-dotenv
requests
langsmith
